# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse
.classpath
.project
.settings/
.springBeans

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# H2 database files
*.mv.db
*.h2.db

# Test reports
/test-output/
surefire-reports/